.notepad-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1001;
  overflow: hidden; 
}

.notepad-handle {
  height: 20px; /* Slightly larger handle */
  background-color: #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}

/* .notepad-icon {
  font-size: 20px;
  color: #333; 
} */

.notepad-content {
  height: calc(100% - 20px); /* Adjusted for larger handle */
  padding-top: 20px; /* Ensure content does not overlap with handle */
  border-top: none !important; /* Remove border from the top */
}




