.notepad-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* transition: height 0.1s ease; */ /* Faster transition, commented out for instant adjustment */
  background-color: #f0f0f0; /* Light grey background */
  border-top: 1px solid #ccc; /* Top border */
  z-index: 1001; /* Ensure it is above other components */
  overflow: hidden; /* Prevent content overflow */
}

.notepad-handle {
  height: 20px; /* Slightly larger handle */
  background-color: #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.notepad-icon {
  font-size: 20px;
  color: #333; /* Dark grey color */
}

.notepad-content {
  background-color: white;
  height: calc(100% - 20px); /* Adjusted for larger handle */
  padding-top: 20px; /* Ensure content does not overlap with handle */
}


